In [23]:
import pandas as pd

In [24]:
import numpy as np

In [25]:
import random

In [26]:
def numbersInterval(initial,final):
    """Selecting random ID of information about vehicles"""
    data = np.random.randint(initial,final)
    return data

In [27]:
def randomCountries():
    """Selecting random countries
    return Country random selected"""
    myfile = open("countries.txt")
    txt = myfile.read()
    words = txt.split()
    word_position = random.randint(0, len(words)-1)
    return words[word_position]

In [28]:
def randomLicensePlate():
    """
    Generate random License Plate
    """
    letters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    number = '0123456789'
    license_plate = ''.join([random.choice(letters) for i in range(3)]+[random.choice(number) for i in range(3)])
    return license_plate

In [29]:
def randomVehicleBrand():
    """
    Generate random vehicle Brand
    """
    myfile = open("car'sBands.txt")
    txt = myfile.read()
    bands = txt.split()
    band_position = random.randint(0, len(bands)-1)
    return bands[band_position]

In [30]:
def randomVehicleClassification():
    """
    Generate random Classification of vehicle
    """
    vehicles = ['car','motorbike','bus','lorry','train','tram','underground']
    vehicles_position = random.randint(0, len(vehicles)-1)
    return vehicles[vehicles_position]

In [31]:
def randomYearVehicle():
    """
    Generate random year of model vehicle
    """
    year = np.random.randint(1990,2023)
    return year

In [32]:
def randomColor():
    """
    Generate random color vehicle
    """
    myfile = open("colors.txt")
    txt = myfile.read()
    colors = txt.split()
    color_position = random.randint(0, len(colors)-1)
    return colors[color_position]

In [33]:
def randomCylinder():
    """
    Generate random color vehicle
    """
    cylinder = [125,150,180,200,250,300,50,500,600,800,80]
    cylinder_position = random.randint(0, len(cylinder)-1)
    return cylinder[cylinder_position]

In [34]:
def randomFuel():
    fuels = ['Gasoline','Diesel','Bio-diesel','hybrid','electric']
    fuelposition = random.randint(0, len(fuels)-1)
    return fuels[fuelposition]

In [35]:
def randomSwitch():
    switch = ['yes','no']
    binary = random.randint(0, len(switch)-1)
    return switch[binary]

In [36]:
def randomService():
    services = ['Public','Private']
    service = random.randint(0, len(services)-1)
    return services[service]

In [37]:
def randomTypeBox():
    typeboxes = ['MT','AT','DSG']
    typebox = random.randint(0, len(typeboxes)-1)
    return typeboxes[typebox]

In [38]:
def randomOwner():
    namesfile = open("names.txt")
    readnames = namesfile.read()
    names = readnames.split()
    names_position = random.randint(0, len(names)-1)
    return names[names_position]

In [39]:
def randomAge():
    return random.randint(18,90)

In [40]:
def randomEmail():
    num = randomAge()
    name = randomOwner()
    domains = ['oulook.com','gmail.com','hotmail.com']
    domain_position = random.randint(0, len(domains)-1)
    return name + str(num) + '@' + domains[domain_position]

In [103]:
def randomID(size):
    minValue = 0;
    maxValue = size;
    set_id = set()
    if(maxValue -(minValue + 1) > size):
        return "error is not validate intervals"
    elif(maxValue - (minValue + 1) == size):
        set_id.add(maxValue);
        set_id.add(minValue);
    elif(minValue > maxValue):
        return "error maxValue is less than minValue"  
    while(len(set_id) != size):
        set_id.add(numbersInterval(minValue,maxValue))
    return set_id

In [183]:
def randomPhone(size):
    minValue = 0
    maxValue = 10;
    phone = []
    set_id = set()
    while(len(set_id) != size):
        for i in range(10):
            phone.append(numbersInterval(minValue,maxValue))
            phone[0] = 3
        phones = ''.join(map(str,phone))
        set_id.add(phones)
        phone.clear()
    return set_id

In [206]:
def randomIden(size):
    minValue = 0
    maxValue = 10;
    ident_card = []
    set_ident = set()
    while(len(set_ident) != size):
        for i in range(10):
            ident_card.append(numbersInterval(minValue,maxValue))
        iden_cards = ''.join(map(str,ident_card))
        set_ident.add(iden_cards)
        ident_card.clear()
    return set_ident

In [223]:
def randomSurnames():
    """
    Generate random surnames of owner
    """
    myfile = open("surnames.txt")
    txt = myfile.read()
    surnames = txt.split()
    lastname = random.randint(0, len(surnames)-1)
    return surnames[lastname]. lower()

In [231]:
def randomEngineSize():
    return round(random.uniform(0.9,8.4), 1)

In [233]:
def generateData(cant):
    df = pd.DataFrame(columns=['Country','License Plate','Vehicle Brand','Vehicle Classification','Year Vehicle','Color','CylinderCapacity (cc)','Fuel type','Imported',
                          'Service','Engine power (Kw)','Engine Size (L)','Gearbox type','Owner name','owner last name','Owner age','Owner' +"'s"+" email"])
    for i in range(cant):
        df.loc[len(df.index)] = [randomCountries(),randomLicensePlate(),randomVehicleBrand(),randomVehicleClassification(),randomYearVehicle(),randomColor(),randomCylinder(),randomFuel(),randomSwitch(),randomService(),numbersInterval(100,200),randomEngineSize(),randomTypeBox(),randomOwner(),randomSurnames(),randomAge(),randomEmail()] 
    df.insert(0,'ID',list(randomID(cant)))
    df.insert(15,'Owner' +"'s"+" phone",list(randomPhone(cant)))
    df.insert(13,'Owner' +"'s"+" ID",list(randomIden(cant)))
    return df

In [234]:
generateData(10)

,ID,Country,License Plate,Vehicle Brand,Vehicle Classification,Year Vehicle,Color,CylinderCapacity (cc),Fuel type,Imported,Service,Engine power (Kw),Engine Size (L),Owner's ID,Gearbox type,Owner name,Owner's phone,owner last name,Owner age,Owner's email
0,0,Zimbabwe,VGB353,Isuzu,motorbike,2022,thistle,300,hybrid,yes,Private,136,1.1,4469041585,MT,Alannah,3771036497,bell,67,Antawn52@gmail.com
1,1,SouthAfrica,ETP064,Saab,train,2015,vermilion,200,hybrid,yes,Public,177,6.1,5997140988,DSG,Donn,3355792948,myers,75,Maritsa62@hotmail.com
2,2,Kyrgyzstan,GSE181,Spyker,underground,1997,cream,600,Diesel,no,Private,199,2.8,1455257537,MT,Shacara,3032595418,robinson,41,Waymon73@oulook.com
3,3,Albania,NGH392,Saab,lorry,1994,coral,500,Gasoline,yes,Public,183,1.8,5276591736,AT,Doron,3900844887,ramirez,34,Infant25@hotmail.com
4,4,Serbia,UIE761,Saab,underground,2015,hollywood-cerise,180,hybrid,yes,Private,117,8.0,4733064970,DSG,Duwayne,3823949715,wood,73,Meaghen62@oulook.com
5,5,San,XWL374,Radical,lorry,2009,firebrick,200,hybrid,no,Private,152,4.2,5686824369,MT,Shley,3506815507,butler,24,Vernetta62@hotmail.com
6,6,Kazakhstan,WQS920,Ferrari,underground,2017,purple,50,Diesel,no,Public,159,7.0,4138349123,MT,Lareina,3609946873,burns,40,December90@gmail.com
7,7,Haiti,YRX550,Proton,car,1999,sapphire,80,Gasoline,yes,Private,105,5.9,6797458171,DSG,Vida,3417387898,collins,69,Jalil29@gmail.com
8,8,Armenia,ZZI096,Jaguar,underground,1999,tan,250,electric,no,Public,108,3.5,4046014944,DSG,Kashia,3230335614,cook,25,Yechiel39@oulook.com
9,9,Philippines,PPZ798,Lotus,tram,1994,rose,80,hybrid,yes,Public,153,2.7,3436559125,MT,Sharay,3744855686,ellis,37,Omero23@oulook.com

In [235]:
def main():
    amount = int(input('put the amount of data: '))
    return generateData(amount)

In [236]:
main()

put the amount of data: 10

,ID,Country,License Plate,Vehicle Brand,Vehicle Classification,Year Vehicle,Color,CylinderCapacity (cc),Fuel type,Imported,Service,Engine power (Kw),Engine Size (L),Owner's ID,Gearbox type,Owner name,Owner's phone,owner last name,Owner age,Owner's email
0,0,Iraq,FCQ800,Shelby,tram,2017,bistre,200,hybrid,yes,Private,165,3.9,5011242493,DSG,Lakrisha,3466892060,owens,89,Letrice79@oulook.com
1,1,Mali,LZL413,Caerham,car,2009,orchid,150,Diesel,no,Private,156,2.2,7351380323,MT,Johsua,3394691480,cooper,21,Frederica48@hotmail.com
2,2,Kenya,XMG464,Volkswagen,tram,1995,khaki,125,Diesel,no,Private,113,6.7,1310289767,DSG,Shevonne,3113608608,rodriguez,75,Queen88@oulook.com
3,3,Ethiopia,QDL828,Maybach,motorbike,2002,silver,600,hybrid,no,Private,173,7.0,2875222841,AT,Meri,3878252552,young,27,December90@gmail.com
4,4,Japan,SHZ793,Martin,lorry,2011,taupe,200,Bio-diesel,no,Public,187,8.1,8949581616,AT,Shiree,3889145834,reyes,82,Reuven22@hotmail.com
5,5,Iran,YCN010,Jeep,motorbike,2004,firebrick,500,Diesel,yes,Public,185,7.9,6143940696,MT,Shaleena,3400055968,smith,32,Waymon33@gmail.com
6,6,Zealand,ZLL727,Invicta,underground,2017,cherry-blossom-pink,250,Gasoline,no,Private,135,1.1,4853866321,MT,Eldridge,3527976879,simmons,31,Donnetta36@gmail.com
7,7,Jamaica,MWN657,Vauxhal,bus,2001,gold,125,Diesel,no,Private,119,3.5,0262370352,DSG,Toddrick,3274308851,perry,36,Quanesha38@gmail.com
8,8,Guadeloupe,AAO553,Alfa,tram,1998,fern-green,180,Gasoline,yes,Private,113,6.8,9751242012,MT,Valine,3244800719,roberts,64,Antwann84@oulook.com
9,9,Suriname,GSV254,MB,car,2007,mauve,80,Diesel,yes,Private,176,2.5,3966867380,AT,Batsheva,3878415497,wells,83,Cherith62@hotmail.com